.ipynb_checkpoints/
Iterative_ex.png
Simulation_ex.png
Music_Generation.ipynb
InkedSequence_LI.jpg
Bigram_method.mid
Clustered.png
Clustered.png
dist_method_songs.csv
Distance_method.mid
Unclustered.png
Simulation.png
reducible.jpg
Unclustered.png
Readme.txt
Random_matrix.mid
Project Presentation.mp4
periodic.jpg
Music Generation with Markov Chain.pdf
markov_music_2.ipynb
Iterative.png
Irreducible aperiodic.png
dist_method_songs.csv
*.mid
